<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6">&nbsp;</ion-col>
      <ion-col size="6">
        <ion-button
          [routerLink]="['/players/new']"
          expand="full"
          shape="round">
          {{ 'player.newPlayer' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item *ngFor="let player of playersList$ | async">
      <ion-avatar slot="start">
        <img [alt]="'avatar-' + player.name" [src]="player.avatarPath" />
      </ion-avatar>
      <ion-label>{{ player.name }}</ion-label>
      <ng-container slot="end">
        <ion-chip
          class="current-pill"
          *ngIf="player?.isCurrent"
          [outline]="true"
          color="primary">{{ 'player.current' | translate }}
        </ion-chip>
        <ion-button
          fill="clear"
          (click)="openOptionsMenu(player)">{{ 'common.options' | translate }}
        </ion-button>
      </ng-container>
    </ion-item>
  </ion-list>
</ion-content>
