<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6">&nbsp;</ion-col>
      <ion-col size="6">
        <ion-button
          [routerLink]="['/players/new']"
          expand="full"
          shape="round">
          {{ 'player.newPlayer' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item *ngFor="let player of playersList$ | async">
      <ion-label>{{ player.name }}</ion-label>
      <ion-button
        slot="end"
        (click)="openOptionsMenu(player)">Open</ion-button>
      <!-- <ion-label
        *ngIf="player?.isCurrent"
        color="secondary"
        slot="end">
        {{ 'player.current' | translate }}
      </ion-label>
      <ion-button
        *ngIf="!player?.isCurrent"
        slot="end"
        fill="outline"
        size="small"
        shape="round"
        (click)="setCurrentPlayer(player.id)">
        {{ 'player.select' | translate }}
      </ion-button> -->
    </ion-item>
  </ion-list>
</ion-content>
