<ion-header>
  <app-common-header></app-common-header>
</ion-header>
<ion-content class="ion-padding">
  <ng-container *ngIf="currentPlayerHasScores | async">
    <app-scores-list
      [playerTypeTitle]="'player.currentPlayerNoName' | translate"
      [scoresList]="[currentPlayerScore | async]">
    </app-scores-list>
  </ng-container>
  <ng-container  *ngIf="otherPlayersHaveScores | async">
    <app-scores-list
      [playerTypeTitle]="'player.otherPlayers' | translate"
      [scoresList]="otherPlayersScores | async">
    </app-scores-list>
  </ng-container>
</ion-content>