.end-line {
  margin: .75rem auto;
  height: .125rem;
  background: black;
  border-radius: 0.125rem;

  &--first {
    margin-top: 2rem;
    transform: scaleX(.65);
  }

  &--second {
    transform: scaleX(.5);
  }

  &--third {
    transform: scaleX(.35);
  }
}

.image {
  &__wrapper {
    width: 25%;
    margin: 2rem auto;
  }
}

.text {
  &__wrapper {
    width: 75%;
    margin: 0 auto;
    text-align: justify;
    line-height: 1.75;
    font-size: 1rem;
  }
}
