<ion-content class="ion-padding">
  <div class="container">
    <div class="header">
      <img src="assets/game.logo.svg" alt="game logo">
    </div>
    <div class="buttons__wrapper">
      <ng-container *ngIf="hasCurrentPlayer | async" [translate]="'player.playingWith'"></ng-container>
      <ng-container *ngIf="hasPlayers | async; else newPlayer">
        <ion-button
          color="primary"
          class="buttons__item"
          [translate]="'player.changePlayer'">
        </ion-button>
      </ng-container>
      <ng-template #newPlayer>
        <ion-button
          [routerLink]="['/players/new']"
          color="primary"
          class="buttons__item"
          [translate]="'player.newPlayer'">
      </ion-button>
      </ng-template>
      <ion-button
        *ngIf="hasCurrentPlayer | async"
        color="primary" class="buttons__item">
        Play
      </ion-button>
      <ion-button
        *ngIf="hasPlayers | async"
        color="primary" class="buttons__item"
        [translate]="'player.players'">
      </ion-button>
      <ion-button color="primary" class="buttons__item">Scores</ion-button>
      <ion-button
        [routerLink]="['/settings']"
        color="primary"
        class="buttons__item">
        <ion-icon slot="start" name="settings-outline"></ion-icon>
        <ng-container slot="end">{{ 'settings.settings' | translate }}</ng-container>
      </ion-button>
    </div>
    <div class="footer">
    </div>
  </div>
</ion-content>
