.container {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100%;
}

.buttons {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & div {
      width: 100%;
    }
  }

  &__item {
    margin: .5rem 0;
  }
}

.header {
  &__wrapper {
    margin: .5rem 0;
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__title {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & div {
      font-family: 'Josefin';
      font-size: 2rem;
      font-weight: bold;
      color: azure;
      text-shadow:
        rgb(0, 0, 0) 3px 0px 2px,
        rgb(0, 0, 0) 2.83487px 0.981584px 2px,
        rgb(0, 0, 0) 2.35766px 1.85511px 2px,
        rgb(0, 0, 0) 1.62091px 2.52441px 2px,
        rgb(0, 0, 0) 0.705713px 2.91581px 2px,
        rgb(0, 0, 0) -0.287171px 2.98622px 2px,
        rgb(0, 0, 0) -1.24844px 2.72789px 2px,
        rgb(0, 0, 0) -2.07227px 2.16926px 2px,
        rgb(0, 0, 0) -2.66798px 1.37182px 2px,
        rgb(0, 0, 0) -2.96998px 0.42336px 2px,
        rgb(0, 0, 0) -2.94502px -0.571704px 2px,
        rgb(0, 0, 0) -2.59586px -1.50383px 2px,
        rgb(0, 0, 0) -1.96093px -2.27041px 2px,
        rgb(0, 0, 0) -1.11013px -2.78704px 2px,
        rgb(0, 0, 0) -0.137119px -2.99686px 2px,
        rgb(0, 0, 0) 0.850987px -2.87677px 2px,
        rgb(0, 0, 0) 1.74541px -2.43999px 2px,
        rgb(0, 0, 0) 2.44769px -1.73459px 2px,
        rgb(0, 0, 0) 2.88051px -0.838247px 2px;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-around;
}

.current-player {
  &__wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: .5rem 0;
  }

  &__name {
    padding: .5rem 0;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    letter-spacing: .05rem;
    line-height: 1.5rem;
    font-weight: bold;
    color: chocolate;
  }

  &__avatar {
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .25rem;
    border-radius: 50%;
  }
}
