<ion-content class="ion-padding">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__title">
        <div>SIMON</div>
      </div>
      <img src="assets/game.logo.svg" alt="game logo">
    </div>
    <div>
      <div  class="current-player__wrapper" *ngIf="hasCurrentPlayer | async">
        <div class="current-player__avatar">
          <img [src]="currentPlayerAvatar | async" alt="Current player avatar">
        </div>
        <div class="current-player__name">
          {{ 'player.currentPlayer' | translate: { name: currentPlayer | async } }}
        </div>
      </div>
      <div class="buttons__wrapper">
        <div>
          <ion-button
            *ngIf="hasCurrentPlayer | async"
            [routerLink]="['/game']"
            color="primary"
            class="buttons__item"
            expand="full"
            shape="round"
            size="default">
            <ion-icon slot="start" name="game-controller-outline"></ion-icon>
            <ng-container slot="end">{{ 'game.play' | translate }}</ng-container>
          </ion-button>
        </div>
        <div>
          <ion-button
            *ngIf="(hasPlayers | async) === false"
            [routerLink]="['/players/new']"
            color="primary"
            class="buttons__item"
            expand="full"
            shape="round"
            size="default">
            <ion-icon slot="start" name="person-add-outline"></ion-icon>
            <ng-container slot="end">{{ 'player.newPlayer' | translate }}</ng-container>
          </ion-button>
        </div>
        <div>
          <ion-button
            *ngIf="hasPlayers | async"
            [routerLink]="['/players/list']"
            color="primary"
            class="buttons__item"
            expand="full"
            shape="round"
            size="default">
            <ion-icon slot="start" name="people-outline"></ion-icon>
            <ng-container slot="end">{{ 'player.players' | translate }}</ng-container>
          </ion-button>
        </div>
        <div>
          <ion-button
            *ngIf="hasScores | async"
            [routerLink]="['/scores']"
            color="primary"
            class="buttons__item"
            expand="full"
            shape="round"
            size="default">
            <ion-icon slot="start" name="medal-outline"></ion-icon>
            <ng-container slot="end">{{ 'scores.scores' | translate }}</ng-container>
          </ion-button>
        </div>
        <div>
          <ion-button
            [routerLink]="['/settings']"
            color="primary"
            class="buttons__item"
            expand="block"
            shape="round"
            size="default">
            <ion-icon slot="start" name="settings-outline"></ion-icon>
            <ng-container slot="end">{{ 'settings.settings' | translate }}</ng-container>
          </ion-button>
        </div>
        <div>
          <ion-button
            [routerLink]="['/help']"
            color="primary"
            class="buttons__item"
            expand="block"
            shape="round"
            size="default">
            <ion-icon slot="start" name="help-circle-outline"></ion-icon>
            <ng-container slot="end">{{ 'help.button' | translate }}</ng-container>
          </ion-button>
        </div>
      </div>
    </div>
    <div class="footer">
    </div>
  </div>
</ion-content>
