.container {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100%;
}

.buttons {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & div {
      width: 100%;
    }
  }

  &__item {
    margin: .5rem 0;
  }
}

.header {
  &__wrapper {
    margin: .5rem 0;
  }
}

.footer {
  display: flex;
  justify-content: space-around;
}

.current-player {
  &__wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: .5rem 0;
  }

  &__name {
    padding: .5rem 0;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    letter-spacing: .05rem;
    line-height: 1.5rem;
    font-weight: bold;
    color: chocolate;
  }

  &__avatar {
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .25rem;
    border-radius: 50%;
  }
}
